<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170845310915-hk3i3jv4q2dcbhhnfi18mvjadrs8i6n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170845310915-hk3i3jv4q2dcbhhnfi18mvjadrs8i6n1</string>
	<key>API_KEY</key>
	<string>AIzaSyCKTaURS5RoEt-RUnulR_K5xaG5IfAewPo</string>
	<key>GCM_SENDER_ID</key>
	<string>170845310915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poi.poi</string>
	<key>PROJECT_ID</key>
	<string>poi-app-881ed</string>
	<key>STORAGE_BUCKET</key>
	<string>poi-app-881ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170845310915:ios:6e76ba0bd2fa43d132b776</string>
</dict>
</plist>